<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ImageBoard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="favicon.ico">
</head>
<body>
    <main id="main">
        <header id="main-header">
            <h1 class="logo">{{appName}}</h1>
        </header>

        <section id="upload">
            <form>
                <label for="title">title</label>
                <input v-model="title" type="text" name="title" id="title">
                <label for="username">username</label>
                <input v-model="username" type="text" name="username" id="username" required="required">
                <label for="description">description</label>
                <input v-model="description" type="text" name="description" id="description">
                <label for="file">file</label>
                <input @change="selectFile" type="file" name="file" id="file" accept="image/*" required="required">
                <button @click.prevent.default="uploadImg">Upload</button>
            </form>
        </section>
        
        <!-- ??? do i really need this one extra div where the loop runs? is there any other way of doing it?  -->
        <section  id="img-grid">
            <div v-for="img in images" :key="img.id">
                <div class="one-img" @click="openModal(img.id)">
                    <img class="one-img" :src="img.url" :alt="img.title">
                    <p class="img-title">{{img.id}}: {{img.title}}</p>
                </div>
            </div>
        </section>
        
        <button class="more" v-if="isThereMore" @click="loadMoreImages">More</button>


        <!-- ----------- Image Modal ------------- -->
        <img-modal v-if="imgIdP" :img-id-c="imgIdP" @clicked-x="closeModal" @clicked-delete="deleteImg"></img-modal>

        
<!-- temporary for testing: -->
<!-- <section id="comment">
    <form>
        <labelmodel="title" type="text" name="title" id="title">
            <label for="username">username</label>
            <input v-model="cm.username" type="text" name="username" id="username">
            <label for="comment">comment</label>
            <input v-model="cm.comment" type="text" name="comment" id="comment">
            <button @click.prevent.default="postComment">post comment</button>
        </form>
    </section> -->
    <!-- temporary for testing: -->
    </main>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>


<!-- :img-id="id" -->
