<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <main class="img-modal bg">
        <button class="close">X</button>
        <div class="container">
            <img src="" alt="">
            <p>This is the title of my modal</p>
        </div>
    </main>



<section v-for="comm in comments" id="comments" >
    <form class="post-comment">
        <label for="username">username</label>
        <input v-model="newComm.username" type="text" name="username" id="username" required="required">
        <label for="commText">commText</label>
        <textarea v-model="newComm.commText" type="text" name="commText" id="commText" rows="3" cols="40" required="required">Comment...</textarea>
        <button @click.prevent.default="postComment">Post/button>
    </form>
    <section class="posted">
        <div class="one-comment">
            <h6 class="comment username">{{comm.username}}</h6>
            <p class="commment text">{{comm.comment}}</p>
            <p class="comment date">{{comm.created_at}}</p>
        </div>
    </section>
</section>





















    
</body>
</html>