* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #7b68ee;
    position: relative;
}

:root {
    --main-bg-color: pink;
}

main#main {
}

section {
    width: 90%;
    margin: 5vh auto;
}
/*////////// HEADER //////////*/
#main-header {}

.logo {}

/*/ /////////  //////////*/
section#upload {
}

input.upload {
}

label.upload {
}

/*////////// UPLOAD SECTION //////////*/

/*/ ///////// IMAGE GRID //////////*/

section#img-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1vw;
    place-items:center;
}

.one-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.img-title {
}


/*/ ///////// MODAL //////////*/

.img-modal.bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-modal .container {
    height: 80%;
    width: 80%;
    background-color: var(--main-bg-color);
}

