* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: whitesmoke;
    --section-bg: white;
    --btn-plain-bg: linear-gradient(39deg, rgba(118,13,251,1) 36%, rgba(69,252,219,1) 100%);
    --white-gradient: linear-gradient(128deg, rgba(255,255,255,1) 18%, rgba(240,237,237,1) 47%, rgba(255,255,255,1) 89%);

    
    --text-gradient-main: -webkit-linear-gradient(39deg, rgba(118,13,251,1) 36%, rgba(69,252,219,1) 100%);
    --text-color-main: rgb(12,12,12);
    --text-color-inverted: white;
    --border-thin: 1px solid rgb(190,190,190);

    --destructive-bg: linear-gradient(39deg, rgba(139,0,0,1) 36%, rgba(255,38,46,1) 100%);

    --btn-round-size: 7vh;
    --btn-round-big: 14vh;
    --btn-round-bradius-big: 7vh;
    --btn-round-bradius: 3.5vh;
}

body {
    background-color: var(--main-bg);
    /* padding: 0 5vw; */
    /* here as content loads in main#main, our setup should be there. 
    in body it wasn't working very well bc content is rendered dinamically  */
}

main#main {
    /* this is our outer main container for this proj */
    /* width: 100%; */
    /* position: relative; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4vh;
}

section {
    width: 90%;
    /* margin: 5vh auto; */
}

p {
    color: var(--text-color-main);
}

button {
    border: none;
    background: var(--btn-plain-bg);
    color: var(--text-color-inverted);
    padding: 2vh 6vw;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}


/* //////////// TYPES ///////////// */
.round {
    height: var(--btn-round-size);
    width: var(--btn-round-size);
    border-radius: var(--btn-round-bradius);
    padding: 0;
}

.horiz {
    height: var(--btn-round-size);
    border-radius: var(--btn-round-bradius);
    width: 150px;
    /* width: var(--btn-round-size*3); */
}

.round.big { 
    height: var(--btn-round-big);
    width: var(--btn-round-big);
    border-radius: var(--btn-round-bradius-big);
    padding: 0;
}

.open-upload {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    padding:0;
    z-index: 10;
}

.inverted {
    background: var(--white-gradient);
    
}


.destructive {
    background: var(--destructive-bg);
}


/*////////// HEADER //////////*/
header#main, footer#main {
    width: 100%;
    background-color: var(--section-bg);
    padding: 3vh 5vw;
    min-height: 10vh;
}

footer#main {
    border-top: var(--border-thin);
}

header#main {
    border-bottom: var(--border-thin);
}

.logo {
    font-size: 3rem;
    background: var(--text-gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*////////// UPLOAD SECTION //////////*/

section#upload {
}

input.upload {
}

label.upload {
}

/*/ ///////// IMAGE GRID //////////*/

section#img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3vw;
    position: relative;

    
}

.one-img {
    height: 27vw;
    width: 27vw;
    object-fit: cover;
}

.img-title {
}

.more {
    /* height: 10vw;
    width: 10vw;
    border-radius: 50%; */
    position: fixed;
    bottom: 3vh;
    margin: 0 auto;
    padding:0;
}

.delete {

}


/*/ ///////// MODAL //////////*/

.modal.bg {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal .container {
    height: 80%;
    width: 80%;
    border-radius: 4vh;
    background-color: var(--main-bg);
    padding: 6vh 8vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.modal .container img {
    width: 20vh;
}

.upper-corner {
    position: absolute;
    top: 3vh;
    right: 3vh;
}

/* ///////////// FOOTER /////////////// */
footer#main {
}